/* ==========================================================================
    General Styles
   ========================================================================== */


body {
    background: #ffc;
    color: #555;
    text-align: center;
}

a {
    color: #555;
}
