/*!*********************
******** Some resets
***********************/
* a:focus {
    outline: none;
}
* {
    box-sizing: border-box;
}
// reset custom styles on input fields
input, button {
    -moz-appearance: none;
    -webkit-appearance: none;
}
select {
  -webkit-border-radius: none;
}
