/* ==========================================================================
    Small resets
   ========================================================================== */
* a:focus {
    outline: none;
}
* {
    box-sizing: border-box;
}
// reset custom styles on input fields
input, button, select {
  -webkit-border-radius: 0;
          border-radius: 0;
}


