/* line 2, ../scss/2style.scss */
body {
  color: blue;
  background: #ccc;
}
/* line 6, ../scss/2style.scss */
body h1:hover {
  color: red;
}

/* line 11, ../scss/2style.scss */
div {
  border: 1px solid green;
  width: 50%;
  margin: 300px auto;
  text-align: center;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
