/* ==========================================================================
    Small resets
   ========================================================================== */
* a:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

input, button, select {
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* ==========================================================================
    Fonts
   ========================================================================== */
/* ==========================================================================
    General Styles
   ========================================================================== */
body {
  background: #ffc;
  color: #555;
  text-align: center;
}

a {
  color: #555;
}

/* ==========================================================================
    Header area
   ========================================================================== */
header {
  text-align: center;
}

/* ==========================================================================
    Content
   ========================================================================== */
.container {
  width: 940px;
  margin: 0 auto;
}

/* ==========================================================================
    Footer area
   ========================================================================== */
footer {
  text-align: center;
}
