<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GBoilerplate</title>
        <meta name="description" content="A powerful grunt setup">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="assets/js/modernizr-2.7.1.lib.js"></script>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>

    <header>
        <h1>Welcome To GBoilerplate</h1>
    </header>



